@charset "utf-8";
/* CSS Document */

/*航拍视频样式*/
img{
	vertical-align: middle;
}
html,body{
	min-height: 100%;
}
dl,dt,dd,p{
	margin: 0;
}
.font12{
	font-size: 0.46rem;
}
.font13{
	font-size: 0.5rem;
}
.font14{
	font-size: 0.54rem;
}
.font15{
	font-size: 0.58rem;
}
.font16{
	font-size: 0.62rem;
}
body{
	font-size: 0.46rem;
}
.color_y{
	color: #ffae00;
}
.aerial_wapper{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	min-height: 100%;
	background-color:#000;
	}
.video_header_wap{
	position: relative;
	height: 1.4rem;
	padding-right: 1.5rem;
	background-color: #393a3c;
}

.close_btn{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
	width: 1.5rem;
	height: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
}
.close_btn img{
	width: 0.4rem;
	height: 0.4rem;
}
.video_header_list .item{
	float: left;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 0.48rem;
}
.video_header_list .item img{
	vertical-align: middle;
	margin-top: -0.1rem;
}
.video_header_list .qy_logo{
	width: 3.6rem;
	height: 1.03rem;
}
.video_info .item{
	border-right: 1px solid #292828;
}
.video_info .mp_icon{
	width: 0.65rem;
	height: 0.5rem;
}
.video_info .cj_icon{
	width: 0.60rem;
	height: 0.52rem;
}
/*视频*/
.video_main_wap{
	height: 7.2rem;
	background-color: #f0ede5;
}
/*弹幕*/
.danmu_wap{
	display: none;
	padding: 0.4rem 0.23rem;
	background-color: #262626;
}
.danmu_wap{
	display: none;
	padding: 0.4rem 0.23rem;
	background-color: #262626;
}

/*地图*/
.googlemap_wap{
	display: none-;
	padding: 0.4rem 0.23rem;
	background-color: #262626;
}
.aerial_map{
	height: 3.46rem;
	border: 1px solid #f1f1f1;
	border-radius: 0.2rem;
	overflow: hidden;
	background-color: #fff;
}

/*视频列表*/
.playlist_wap{
	padding: 0.4rem;
	background-color: #000;
}
.playlist_list{
	height: 6.52rem;
	overflow: auto;
}
.playlist_list .item{
	padding: 0.19rem 0;
	box-sizing: border-box;
	overflow: hidden;
}
.playlist_list dt{
	position: relative;
	float: left;
	width:3.8rem;
	height: 2.88rem;
	margin-right: 0.28rem;
	box-sizing: border-box;
	background-color: #fff;
	overflow: hidden;
	font-weight: normal;
	color: #b4b4b4;
}
.playlist_list dt .v_mark{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../../images/commons/opacity_b50.png);
}
.playlist_list .video_stro{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.76rem;
	line-height: 0.76rem;
	padding: 0 0.12rem;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.playlist_list .video_stro img{
	display: inline-block;
	vertical-align: top;
	width: 0.34rem;
	height: 0.34rem;
	margin: 0.2rem 0.12rem 0 0;
}
.playlist_list .text_title{
	display: block;
	width: 6.8rem;
	height: 0.7rem;
	line-height: 0.7rem;
	margin-bottom: 0.12rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: normal;
	color: #fff;
}
.playlist_list .text_cont{
	height: 2.1rem;
	line-height: 0.7rem;
	overflow: hidden;
	color: #b4b4b4;
}
.playlist_list .icur dt{
	border: 1px solid #83d542;
}
.playlist_list .icur .video_stro{
	background: url(../../images/commons/opacity_b50.png);
}
.playlist_list .icur .video_stro img{
	display: inline-block;
}
.playlist_list .icur .v_mark{
	display: none;
}

/*模态框公用*/
.pano_dialog{
	position: fixed;
	left: 50%;
	top: 50%;
}
.modal-header .i_close{
	float: right;
	width: 0.4rem;
	height: 0.4rem;
}
.modal-header .i_close img{
	width: 100%;
	height: 100%;
}
.modal-header .modal-title{}
/*企业名片模态框*/
.card_dialog{
	width: 10.8rem;
	margin-left: -5.4rem;
	margin-top: -5.15rem;
}
.card_dialog .modal-header{
	padding: 0.4rem;
	border-bottom: 1px solid #eee;
}
.card_dialog .modal-header .modal-title img{
	width: 0.7rem;
	height: 0.54rem;
	margin: 0.1rem 0.2rem 0 0;
	vertical-align: top;
}
.card_dialog .modal_body{
	position: relative;
	height: 8.2rem;
	padding: 0.4rem;
	margin-bottom: 0.4rem;
	box-sizing: border-box;
	overflow-y: auto;
}
.card_dialog .card_dl{
	overflow: hidden;
}
.card_dialog .card_dt{
	float: left;
	width: 3.1rem;
	height: 2.7rem;
}
.card_dialog .card_dt img{
	width: 2.7rem;
	height: 2.7rem;
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
	border-radius: 0.2rem;
	background-color: #f1f1f1;
}
.card_dialog .card_dd {
	float: left;
	width: 6.5rem;
}
.card_dialog .card_dd p{
	height: 0.68rem;
	line-height: 0.68rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.card_dialog .card_dd p img{
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.2rem;
}
.card_dialog .title_intro{
	display: block;
	padding: 0.2rem 0;
	font-weight: normal;
}
.card_dialog .text_intro{
	line-height: 0.8rem;
	text-indent: 0.933rem;
}

/*场景介绍模态框*/
.scene_dialog{
	width: 10.8rem;
	margin-left: -5.4rem;
	margin-top: -4.83rem;
}
.scene_dialog .modal-header{
	padding: 0.4rem;
	border-bottom: 1px solid #eee;
}
.scene_dialog .modal-header .modal-title img{
	width: 0.7rem;
	height: 0.54rem;
	margin-right: 0.2rem;
}
.scene_dialog .i_close{
	cursor: pointer;
	width: 0.54rem;
	height: 0.54rem;
    position: absolute;
    right: 0.6rem;
    top: 0.4rem;
}
.scene_dialog .i_close img{
	width: 100%;
	height: 100%;
}
.scene_dialog .modal_body{
	position: relative;
	height: 8.2rem;
	padding: 0.4rem;
	margin: 1rem 0 0.4rem 0;
	box-sizing: border-box;
	overflow-y: auto;
}
.scene_dialog .card_dl{
	overflow: hidden;
}
.scene_dialog .card_dt{
	float: left;
	width: 3.1rem;
	height: 2.7rem;
}
.scene_dialog .card_dt img{
	width: 2.7rem;
	height: 2.7rem;
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
	border-radius: 0.2rem;
	background-color: #f1f1f1;
}
.scene_dialog .card_dd {
	float: left;
	width: 6.5rem;
}
.scene_dialog .card_dd p{
	height: 0.68rem;
	line-height: 0.68rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.scene_dialog .card_dd p img{
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.2rem;
}
.scene_dialog .title_intro{
	display: block;
	padding: 0.2rem 0;
	font-weight: normal;
}
.scene_dialog .text_intro{
	line-height: 0.8rem;
	text-indent: 0.92rem;
}

/*分享模态框*/