@charset "utf-8";
/* CSS Document */
/*-----------------------------------------------------航拍视频横屏样式-------------------------------------*/
@media all and (orientation : landscape) { 

	img{
		vertical-align: middle;
	}
	html,body{
		min-height: 100%;
	}
	dl,dt,dd,p,ul,ol{
		margin: 0;
	}
	.font12{
		font-size: 0.46rem;
	}
	.font13{
		font-size: 0.5rem;
	}
	.font14{
		font-size: 0.54rem;
	}
	.font15{
		font-size: 0.58rem;
	}
	.font16{
		font-size: 0.62rem;
	}
	body{
		font-size: 0.46rem;
		min-width: inherit;
		overflow: hidden;
	}
	.color_y{
		color: #ffae00;
	}
	html{
		height:100%;
		background:none;
		background-color:#000;
		}
	body{
		position:relative;
		min-width:1000px-;
		height:100%;
		min-height:500px;
		}
	.aerialvideo_body{
		width: 100%;
		height: 100%;
		min-height: 100%;
		}
	/*航拍视频头部*/
	.video_header_wap{
		position:relative;
		padding-left:1.23rem;
		padding-right:1.23rem;
		width:100%;
		height:1rem;
		background:url(../../images/commons/opacity_b50.png)-;
		background:#3c3f44;
		}
	.video_header_wap .close_btn{
		position:absolute;
		right:0;
		top:0;
		width:0.4rem;
		height:0.4rem;
		padding:0.3rem 0.4rem;
		box-sizing:content-box;
		cursor:pointer;
		}
	.video_header_wap .close_btn img{
		width:0.4rem;
		height:0.4rem;
		vertical-align:top;
		}
	.video_header_list .item1,
	.video_header_list .item2{
		float:left;
		height:1rem;
		line-height:1rem;
		font-size: 0.38rem;
		border-right:1px solid #292828;
		box-sizing:border-box;
		text-align:center;
		}
	.video_header_list .item1{
		padding:0 0.308rem;
		}
	.video_header_list .item2{
		padding:0.192rem 0rem;
		}
	.video_header_list .onoff{
		width:0.6rem;
		height:0.6rem;
		cursor:pointer;
		}
	.video_header_list .qy_logo{
		width:2.7rem;
		height:0.76rem;
		vertical-align:top;
		margin-top:0.12rem;
		}
	.video_header_list .jd_cor{
		display:inline-block;
		color:#6cceff;
		}
	.video_header_list .wd_cor{
		display:inline-block;
		color:#7cff62;
		}
	.video_header_list .gd_cor{
		display:inline-block;
		color:#faed53;
		}
	.video_header_list .p_text{
		display:inline-block;
		max-width:4.3rem;
		height:0.61rem;
		line-height:0.61rem;
		font-weight:bold;
		color:#fff;
		word-break:break-all;
		overflow:hidden;
		vertical-align:top;
		}
	.video_header_list .p_text img{
		vertical-align:top;
		margin-right:5px;
		}
	.video_header_list .p_text .sm_icon{
		width:0.61rem;
		height:0.61rem;
		margin-right:0;
		}
	.video_header_list .p_text .km_icon{
		width:0.84rem;
		height:0.46rem;
		margin-top:0.08rem;
		}
	.video_header_list .p_text .mp_icon{
		width:0.61rem;
		height:0.61rem;
		margin-top:0.08rem;
		}
	.video_header_list .p_text .cj_icon{
		width:0.61rem;
		height:0.61rem;
		margin-top:0.08rem;
		}
	.video_header_list .mp_text,
	.video_header_list .cj_text{
		cursor:pointer;
		}
	.video_header_list1{
		position:absolute;
		left:0;
		top:0;
		}
	.video_header_list2{}
	/*播放列表*/
	.aerial_playlist{
		position:absolute;
		left:0;
		top:1rem;
		bottom:0;
		z-index:1000;
		width:4.4rem;
		height: 12.08rem;
		padding:0.3rem;
		box-sizing:border-box;
		background-color:#282828;
		overflow:hidden;
		}
	.playlist_list .item{
		position:relative;
		width:3.8rem;
		height:2.2rem;
		margin-bottom:0.33rem;
		box-sizing:border-box;
		cursor:pointer;	
		}
	.playlist_list .item .mn_pic{
		width:100%;
		height:100%;
		background-color:#eee;
		}
	.playlist_list .text_con{
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:0.74rem;
		line-height:0.74rem;
		padding: 0 0.3rem;
		box-sizing:border-box;
		font-size:0.38rem;
		font-weight:bold;
		color:#fff;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		}
	.playlist_list .text_con .icon_mn{
		display:none;
		width: 0.28rem;
		height:0.36rem;
		margin:0.19rem 5px 0 0;
		vertical-align:top;
		}
	.playlist_list .bg_opa50{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		line-height:3.0rem 3.8rem;
		background:url(../../images/commons/opacity_b50.png);
		text-align:center;
		}
	.playlist_list .item.icur{
		border:1px solid #83d542;
		}
	.playlist_list .item.icur .text_con{
		background:url(../../images/commons/opacity_b50.png);
		}
	.playlist_list .item.icur .text_con .icon_mn{
		display:inline-block;
		}
	.playlist_list .item.icur .bg_opa50{
		display:none;
		}
	/*视频主体*/
	#AerialPlayer{
		position:relative;
		}
	/*
	#AerialPlayer .mark{
		position:absolute;
		left:0;
		top:0;
		z-index:5;
		width:100%;
		height:100%;
		background:url(../../images/commons/opacity_b50.png);
		opacity:0.5;
		}
	#AerialPlayer .mark i{
		width: 30px;
		height: 30px;
		background: url(../../images/commons/loading.gif) no-repeat center center;
		position: absolute;
		left: 50%;
		margin-left: -15px;
		top: 50%;
		margin-top: -15px;
		z-index: 6;
		border-radius: 5px;
		}*/
	.video-js{
		width:100%;
		height:100%;
		}
	.video_main_wap{
		position:relative;
		width: 100%;
		overflow:hidden;
		}
	#HLSPlayer2,
	#HLSPlayer2 .video{
		height:100%;
		}
	.aerial_map{
		position:absolute;
		left:20px;
		bottom:50px;
		z-index:6;
		width:7.8rem;
		height:4.6rem;
		padding:1px;
		border:1px solid #666;
		border-radius:10px;
		box-sizing:border-box;
		background-color:#fff;
		overflow:hidden;
		}
	.smallbtn_map{
		position:absolute;
		right:10px;
		top:10px;
		z-index:2;
		width:1rem;
		height:1rem;
		cursor:pointer;
		}
	.smallbtn_map img,
	.bigbtn_map img{
		width:100%;
		height:100%;
		}
	.bigbtn_map{
		display:none;
		position:absolute;
		left:20px;
		bottom:50px;
		z-index:6;
		width:1.4rem;
		height:1.4rem;
		cursor:pointer;
		}
	/*航拍视频底部*/	
	.video_footer_wap{
		position:absolute;
		left:0;
		bottom:0;
		z-index:1000;
		width:100%;
		height:52px;
		padding:10px 15px;
		box-sizing:border-box;
		background-color:#1b1b1b;
		font-size:14px;
		color:#eeeeee;
		}
	.barrage_block{
		float:left;
		}
	.barrage_block .s_text{
		float:left;
		height:32px;
		line-height:32px;
		padding-right:10px;
		}
	.barrage_block .switch_block{
		margin-top:9px;
		margin-right:15px;
		}
	.switch_block{
		position:relative;
		width:44px;
		height:16px;
		}
	.switch_block .tanmu_bar{
		width:44px;
		height:16px;
		border-radius:8px;
		background:url(../../images/aerial/onoff_bg.png) no-repeat;
		cursor:pointer;
		}
	.switch_block span{
		position:absolute;
		right:0;
		top:-4px;
		width:23px;
		height:23px;
		background:url(../../images/aerial/onoff_btn.png) no-repeat;
		transition: 0.5s;
		-moz-transition: left 0.5s;	
		-webkit-transition: left 0.5s;	
		-o-transition: left 0.5s;
		}
	.switch_block span.onoff{
		right:inherit;
		left:0;
		}
	.barrage_set_block{
		position:relative;
		}
	.barrage_set{
		height:32px;
		line-height:32px;
		border:0;
		border-radius:4px;
		padding:0 10px;
		background-color:#5e5e5e;
		}
	.barrage_set:hover{
		background-color:#545454;
		}
	.tanmu_send_block{
		position:relative;
		float:left;
		margin-left:15px;
		height:32px;
		}
	.tanmu_send_block .text_ipt{
		float:left;
		width:440px;
		height:32px;
		line-height:32px;
		padding:0 34px 0 15px;
		box-sizing:border-box;
		border-radius:4px 0 0 4px;
		background-color:#5e5e5e;
		vertical-align:top;
		}
	.tanmu_send_block .btn_send{
		float:left;
		width:58px;
		height:32px;
		line-height:32px;
		padding:0;
		border:0;
		border-radius:0 4px 4px 0;
		background-color:#009deb;
		text-align:center;
		vertical-align:top;
		}
	.tanmu_send_block .btn_send:hover{
		background-color:#008dd3;
		}
	.tanmu_send_block .btn_face{
		position:absolute;
		right:64px;
		top:5px;
		width:22px;
		height:22px;
		background:url(../../images/aerial/icon_face.png) no-repeat;
		cursor:pointer;
		}
	.opt_text,
	.share_text{
		float:left;
		height:32px;
		line-height:32px;
		margin-left:20px;
		cursor:pointer;
		}
	.opt_text img,
	.share_text img{
		width:18px;
		height:18px;
		margin:7px 5px 0 0;
		vertical-align:top;
		}

	/*弹幕及弹幕设置框样式*/
	#danmuarea{
	    position:absolute;
		left:0;
		top:0;
		z-index:0;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		background-color:#222;
		}
	#danmu{
		min-width:100%;
		min-height:100%;
		}
	/*弹幕及弹幕设置框样式*/	

	/*Loading*/
	.mengb {
		position: absolute;
		left: 0px;
		top: 0px;
		background: #000000;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		filter: alpha(opacity=30);
		z-index: 1;
	}
	#map_loading {
		width: 30px;
		height: 30px;
		background: url(../../images/commons/loading.gif) #0F1111 no-repeat center center;
		position: absolute;
		left: 50%;
		margin-left: -15px;
		top: 50%;
		margin-top: -15px;
		z-index: 3;
		border-radius: 5px;
	}
		
	/*模态框*/
	body.modal-open{
		min-height:inherit;
		}
	.modal-backdrop.fade{
		background-color:#fff;
		opacity:0.5;
		filter:alpha(opacity=50);
		opacity:1-;
		filter:alpha(opacity=100)-;
		}
	.modal-header .modal-title{
		height:20px;
		line-height:20px;
		font-size:14px;
		font-weight:bold;
		}
	.modal-header .i_close{
		float:right;
		width:11px;
		height:11px;
		margin-top:5px;
		background:url(../../images/commons/farmingIco16.jpg);
		cursor:pointer;
		}
	.modal-header .i_close:hover{
		background:url(../../images/commons/farmingIco17.jpg);
		}
	.modal_body{
		height:602px-;
		padding:5px 20px 20px;
		box-sizing:border-box;
		overflow-y:auto;
		}
	.pano_dialog{
		position:fixed;
		left:50%;
		top:50%;
		}
	.pano_dialog.pano_top{
		position:relative;
		left:inherit;
		top:inherit;
		margin:30px auto;
		}
	/*企业名片模态框*/
	.card_dialog{
		width:560px;
		margin-left:-280px;
		margin-top:-186px;
		color:#fff;
		}
	.card_dialog .modal-content{
		background:url(../../images/commons/opacity_b80.png);
		}
	.card_dialog .modal-header{
		border-bottom-color:#67686a;
		}
	.card_dialog .modal-header img{
		vertical-align:top;
		margin:2px 10px 0 0;
		}
	.card_dialog .i_close{
		width:13px;
		height:13px;
		margin-top:4px;
		background:url(../../images/aerial/icon_closeL.png);
		cursor:pointer;
		}
	.card_dialog .i_close:hover{
		background:url(../../images/aerial/icon_closeH.png);
		}
	.card_dialog .modal_body{
		height:310px;
		margin-bottom:10px;
		padding:20px 20px 0;
		box-sizing:border-box;
		}
	.card_dialog .modal-footer{
		text-align:center;
		}
	.card_dialog .card_dl{
		overflow:hidden;
		}
	.card_dialog .card_dt{
		float:left;
		width:160px;
		}
	.card_dialog .card_dt img{
		width:140px;
		height:140px;
		border-radius:6px;
		}
	.card_dialog .card_dd .text_name{
		margin-top:5px;
		font-size:15px;
		}
	.card_dialog .card_dd p{
		height:20px;
		line-height:20px;
		margin-top:8px;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		}
	.card_dialog .card_dd p img{
		vertical-align:top;
		width:16px;
		height:16px;
		margin:2px 10px 0 0;
		}
	.card_dialog .card_dd .color_y{
		color:#ffae00;
		}
	.card_dialog .title_intro{
		display:block;
		margin:10px 0 0;
		padding:10px 0;
		font-size:15px;
		font-weight:normal;
		}
	.card_dialog .text_intro{
		line-height:24px;
		text-indent:24px;
		}
	/*场景介绍模态框*/	
	.scene_dialog{
		width:660px;
		margin-left:-330px;
		margin-top:-205px;
		}
	.scene_dialog .modal-content{
		background:url(../../images/commons/opacity_b80.png);
		}
	.scene_dialog .i_close{
		position:absolute;
		right:20px;
		top:15px;
		width:13px;
		height:13px;
		background:url(../../images/aerial/icon_closeL.png);
		cursor:pointer;
		}
	.scene_dialog .i_close:hover{
		background:url(../../images/aerial/icon_closeH.png);
		}
	.scene_dialog .modal_body{
		height:388px;
		margin-top:28px;
		margin-bottom:10px;
		padding:0px 15px 0 15px;
		box-sizing:border-box;
		font-size:14px;
		color:#fff;
		}
	.scene_dialog .title_company{
		display:block;
		width:80%;
		margin:5px auto 15px;
		height:30px;
		line-height:30px;
		font-size:16px;
		font-weight:normal;
		text-align:center;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		}
	.scene_dialog .pic_company{
		float:left;
		width:180px;
		height:180px;
		margin-right:15px;
		}
	.scene_dialog .text_company{
		line-height:24px;
		margin-bottom:10px;
		text-indent:28px;
		}
	/*分享模态框*/	
	.share_dialog{
		width:480px;
		margin-left:-240px;
		margin-top:-205px;
		}
	.share_dialog .modal-content{
		background:url(../../images/commons/opacity_b80.png);
		}
	.share_dialog .i_close{
		position:absolute;
		right:20px;
		top:15px;
		width:13px;
		height:13px;
		background:url(../../images/aerial/icon_closeL.png);
		cursor:pointer;
		}
	.share_dialog .i_close:hover{
		background:url(../../images/aerial/icon_closeH.png);
		}
	.share_dialog .modal_body{
		height:388px;
		margin-top:28px;
		padding:0px 15px 15px 15px;
		box-sizing:border-box;
		font-size:14px;
		color:#fff;
		}
	.share_dialog .text_company{
		display:block;
		width:80%;
		height:30px;
		margin:0 auto 0;
		line-height:30px;
		text-align:center;
		font-size:17px;
		color:#009dec;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		}
	.share_dialog .text_tip{
		height:20px;
		line-height:20px;
		margin:10px 0 20px;
		font-size:15px;
		text-align:center;
		}
	.share_dialog .code_pic{
		display:block;
		width:180px;
		height:180px;
		margin:0 auto 20px;
		border:10px solid #fff;
		box-sizing:border-box;
		}
	.share_dialog .ipt_link{
		display:block;
		width:360px;
		height:30px;
		line-height:28px;
		margin:0 auto 20px;
		padding:0 10px;
		border:1px solid #b6b7b8;
		border-radius:4px;
		background:none;
		}
	.share_dialog .btn_copy{
		display:block;
		width:102px;
		height:30px;
		line-height:28px;
		margin:0 auto 20px;
		padding:0 15px;
		border:1px solid #b6b7b8;
		border-radius:4px;
		background:none;
		font-size:12px;
		}
	.share_dialog .btn_copy img{
		float:left;
		vertical-align:top;
		margin:7px 5px 0 0;
		font-size:12px;
		}
	.share_dialog .btn_copy:hover{
		border-color:#009dec;
		background-color:#009dec;
		}
}		
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------航拍视频竖屏样式----------------------------------------*/
@media all and (orientation : portrait){ 

	img{
		vertical-align: middle;
	}
	html,body{
		min-height: 100%;
	}
	dl,dt,dd,p{
		margin: 0;
	}
	.font12{
		font-size: 0.46rem;
	}
	.font13{
		font-size: 0.5rem;
	}
	.font14{
		font-size: 0.54rem;
	}
	.font15{
		font-size: 0.58rem;
	}
	.font16{
		font-size: 0.62rem;
	}
	body{
		font-size: 0.46rem;
		min-width: inherit;
	}
	.color_y{
		color: #ffae00;
	}
	.aerialvideo_body22{}
	.aerial_wapper22{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		min-height: 100%;
		background-color:#000;
		}
	.video_header_wap22{
		position: relative;
		height: 1.4rem;
		padding-right: 1.5rem;
		background-color: #393a3c;
	}

	.close_btn22{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
		width: 1.5rem;
		height: 1.4rem;
		line-height: 1.4rem;
		text-align: center;
	}
	.close_btn22 img{
		width: 0.4rem;
		height: 0.4rem;
	}
	.video_header_list22 .item22{
		float: left;
		height: 1.4rem;
		line-height: 1.4rem;
		padding: 0 0.48rem;
	}
	.video_header_list22 .item22 img{
		vertical-align: middle;
		margin-top: -0.1rem;
	}
	.video_header_list22 .qy_logo22{
		width: 3.6rem;
		height: 1.03rem;
	}
	.video_info22 .item22{
		border-right: 1px solid #292828;
	}
	.video_info22 .mp_icon22{
		width: 0.65rem;
		height: 0.5rem;
	}
	.video_info22 .cj_icon22{
		width: 0.60rem;
		height: 0.52rem;
	}
	/*视频*/
	.video_main_wap22{
		width: 100%;
		height: 7.2rem;
		background-color: #f0ede5;
		overflow: hidden;
	}
	#video_block22,
	.video_main_wap22 .video-js,
	.video_main_wap22 video{
		width: 100%;
		height: 100%;
		background-color: #000;
	}

	/*弹幕*/
	.danmu_wap22{
		display: none;
		padding: 0.4rem 0.23rem;
		background-color: #262626;
	}
	.danmu_wap22{
		display: none;
		padding: 0.4rem 0.23rem;
		background-color: #262626;
	}

	/*地图*/
	.googlemap_wap22{
		display: none-;
		padding: 0.4rem 0.23rem;
		background-color: #262626;
	}
	.aerial_map22{
		height: 3.46rem;
		border: 1px solid #f1f1f1;
		border-radius: 0.2rem;
		overflow: hidden;
		background-color: #f00;
	}

	/*视频列表*/
	.playlist_wap22{
		padding: 0.4rem;
		background-color: #000;
	}
	.playlist_list22{
		height: 6.52rem;
		overflow: auto;
	}
	.playlist_list22 .item22{
		padding: 0.19rem 0;
		box-sizing: border-box;
		overflow: hidden;
	}
	.playlist_list22 dt{
		position: relative;
		float: left;
		width:3.8rem;
		height: 2.88rem;
		margin-right: 0.28rem;
		box-sizing: border-box;
		background-color: #fff;
		overflow: hidden;
		font-weight: normal;
		color: #b4b4b4;
	}
	.playlist_list22 dt .v_mark22{
		position: absolute;
		left: 0;
		top: 0;
		display: none;
		width: 100%;
		height: 100%;
		background: url(../../images/commons/opacity_b50.png);
	}
	.playlist_list22 dd{
		height: 2.88rem;
		overflow: hidden;
	}
	.playlist_list22 .video_stro22{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0.76rem;
		line-height: 0.76rem;
		padding: 0 0.12rem;
		box-sizing: border-box;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: #fff;
	}
	.playlist_list22 .video_stro22 img{
		display: inline-block;
		vertical-align: top;
		width: 0.34rem;
		height: 0.34rem;
		margin: 0.2rem 0.12rem 0 0;
	}
	.playlist_list22 .text_title22{
		display: block;
		width: 6.8rem;
		height: 0.7rem;
		line-height: 0.7rem;
		margin-bottom: 0.12rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-weight: normal;
		color: #fff;
	}
	.playlist_list22 .text_cont22{
		height: 2.1rem;
		line-height: 0.7rem;
		overflow: hidden;
		color: #b4b4b4;
	}
	.playlist_list22 .icur dt{
		border: 1px solid #83d542;
	}
	.playlist_list22 .icur .video_stro22{
		background: url(../../images/commons/opacity_b50.png);
	}
	.playlist_list22 .icur .video_stro22 img{
		display: inline-block;
	}
	.playlist_list22 .icur .v_mark22{
		display: none;
	}

	/*模态框公用*/
	.pano_dialog22{
		position: fixed;
		left: 50%;
		top: 50%;
	}
	.modal-header .i_close22{
		float: right;
		width: 0.4rem;
		height: 0.4rem;
	}
	.modal-header .i_close22 img{
		width: 100%;
		height: 100%;
	}
	.modal-header .modal-title22{}
	/*企业名片模态框*/
	.card_dialog22{
		width: 10.8rem;
		margin-left: -5.4rem;
		margin-top: -5.15rem;
	}
	.card_dialog22 .modal-header{
		padding: 0.4rem;
		border-bottom: 1px solid #eee;
	}
	.card_dialog22 .modal-header .modal-title img{
		width: 0.7rem;
		height: 0.54rem;
		margin: 0.1rem 0.2rem 0 0;
		vertical-align: top;
	}
	.card_dialog22 .modal_body22{
		position: relative;
		height: 8.2rem;
		padding: 0.4rem;
		margin-bottom: 0.4rem;
		box-sizing: border-box;
		overflow-y: auto;
	}
	.card_dialog22 .card_dl22{
		overflow: hidden;
	}
	.card_dialog22 .card_dt22{
		float: left;
		width: 3.1rem;
		height: 2.7rem;
	}
	.card_dialog22 .card_dt22 img{
		width: 2.7rem;
		height: 2.7rem;
		border: 1px solid #f1f1f1;
		box-sizing: border-box;
		border-radius: 0.2rem;
		background-color: #f1f1f1;
	}
	.card_dialog22 .card_dd22 {
		float: left;
		width: 6.5rem;
	}
	.card_dialog22 .card_dd22 p{
		height: 0.68rem;
		line-height: 0.68rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.card_dialog22 .card_dd22 p img{
		width: 0.5rem;
		height: 0.5rem;
		margin-right: 0.2rem;
	}
	.card_dialog22 .title_intro22{
		display: block;
		padding: 0.2rem 0;
		font-weight: normal;
	}
	.card_dialog22 .text_intro22{
		line-height: 0.8rem;
		text-indent: 0.933rem;
	}

	/*场景介绍模态框*/
	.scene_dialog22{
		width: 10.8rem;
		margin-left: -5.4rem;
		margin-top: -4.83rem;
	}
	.scene_dialog22 .modal-header{
		padding: 0.4rem;
		border-bottom: 1px solid #eee;
	}
	.scene_dialog22 .modal-header .modal-title img{
		width: 0.7rem;
		height: 0.54rem;
		margin-right: 0.2rem;
	}
	.scene_dialog22 .i_close22{
		cursor: pointer;
		width: 0.54rem;
		height: 0.54rem;
	    position: absolute;
	    right: 0.6rem;
	    top: 0.4rem;
	}
	.scene_dialog22 .i_close22 img{
		width: 100%;
		height: 100%;
	}
	.scene_dialog22 .modal_body22{
		position: relative;
		height: 8.2rem;
		padding: 0.4rem;
		margin: 1rem 0 0.4rem 0;
		box-sizing: border-box;
		overflow-y: auto;
	}
	.scene_dialog22 .card_dl22{
		overflow: hidden;
	}
	.scene_dialog22 .card_dt22{
		float: left;
		width: 3.1rem;
		height: 2.7rem;
	}
	.scene_dialog22 .card_dt22 img{
		width: 2.7rem;
		height: 2.7rem;
		border: 1px solid #f1f1f1;
		box-sizing: border-box;
		border-radius: 0.2rem;
		background-color: #f1f1f1;
	}
	.scene_dialog22 .card_dd22 {
		float: left;
		width: 6.5rem;
	}
	.scene_dialog22 .card_dd22 p{
		height: 0.68rem;
		line-height: 0.68rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.scene_dialog22 .card_dd22 p img{
		width: 0.5rem;
		height: 0.5rem;
		margin-right: 0.2rem;
	}
	.scene_dialog22 .title_intro22{
		display: block;
		padding: 0.2rem 0;
		font-weight: normal;
	}
	.scene_dialog22 .text_intro22{
		line-height: 0.8rem;
		text-indent: 0.92rem;
	}

	/*分享模态框*/

}