/*iphone4*/
@media screen and (min-width: 0px) and (max-width: 320px) {
    html{
    	font-size: 16px;
    }
}
/*iphone6*/
@media screen and (min-width: 321px) and (max-width: 375px) {
    html{
    	font-size: 18px;
    }
}
/*iphone6 plus*/
@media screen and (min-width: 376px) and (max-width: 414px) {
    html{
    	font-size: 20px;
    }
}
/*pc*/
@media screen and (min-width: 415px) and (max-width: 3000px) {
    html{
    	font-size: 20px;
    }
}
html,body{ position: relative;height: 100%; overflow: hidden;}
.overflowH{ overflow: hidden;}
.overflowA{ overflow: auto;}
div.overflowH{ overflow: hidden;}
div.overflowA{ overflow: auto;}
.wrap_myorder{ position: relative; height:100%;overflow-y: auto;}
/*我的订单*/
.my_order{width: 100%; height: auto; backface-visibility: #f1f1f1;}
.my_order .items li{float: left; width: 50%; height: 2.5rem; line-height: 2.5rem; font-size: 0.875rem; color: #333;}
.my_order .items li p{width: 5rem; height: 2.5rem; box-sizing:border-box; margin: 0 auto; text-align: center; color: #333;}
.my_order .items li.cur p{border-bottom: 2px solid #ff4d45; color: #ff4d45;}
.my_order .details{display: none;}
.my_order .details.current{display: block;}
.binding{height: 2.125rem; line-height: 2.125rem; padding: 0 0.625rem; border-top: 0.625rem solid #f7f7f7; font-size: 0.75rem; color: #b2b2b2;}
.binding img{width: 0.8125rem; height: 0.8125rem; margin-right: 0.3rem; vertical-align: -0.15rem;}
.binding .now{width: 4.5rem; height: 1.4rem; line-height: 1.4rem; border: 1px solid #ff4d45; border-radius: 4px; text-align: center; color: #ff4d45; font-size: 0.75rem; margin-top: 0.32rem;}
.my_order .news{width: 100%; height: 4.5rem; border-bottom: 0.375rem solid #f7f7f7;border-top:0.625rem solid #f7f7f7;}
.my_order .news li{position:relative;float: left; width: 20%; text-align: center; height: 4.5rem;}
.my_order .news li .pic{height: 1.8rem; margin-top: 1rem; position: relative; line-height: 2rem;}
.my_order .news li .pic .order{width: 1.375rem; height: 1.3125rem; position: absolute; left: 50%; margin-left: -0.6875rem;}
.my_order .news li.cur .pic .order{background-position: 0 0;}
.my_order .news li .pic i{display: none-; min-width: 0.8rem; min-height: 0.8rem; line-height: 0.8rem;padding:0 0.02rem; background-color: #ff4d45; text-align: center; font-size: 0.625rem; color: #fff; border-radius: 0.4rem; position: absolute; top: -0.4rem; left: 2.3rem;}
.my_order .news li.cur .pic i{display: block-;}
.order1{background: url(../../images/Buy/order1.png) 0 -1.5625rem no-repeat; background-size: cover;}
.order2{background: url(../../images/Buy/order2.png) 0 -1.5625rem no-repeat; background-size: cover;}
.order3{background: url(../../images/Buy/order3.png) 0 -1.5625rem no-repeat; background-size: cover;}
.order4{background: url(../../images/Buy/order4.png) 0 -1.5625rem no-repeat; background-size: cover;}
.order5{background: url(../../images/Buy/order5.png) 0 -1.5625rem no-repeat; background-size: cover;}
.my_order .news li p{font-size: 0.75rem; color: #5c5c5c;}
.my_order .news li.cur p{color: #ff4d45;}
.plants{width: 100%; height: auto;}
.plants li{height: auto; border-bottom: 0.625rem solid #f7f7f7; }
.plants li .product_list{ padding: 0.4rem 0; background-color: #f7f7f7;}
.plants li .wait{padding-right:0.625rem; text-align: right; font-size: 0.75rem; color: #ff4d45; height: 1.875rem; line-height: 1.875rem;}
.plants li .middle{height: 3.25rem; padding: 0.2rem 0.625rem; }
.plants li .middle .left{width: 3.25rem; height: 3.25rem; margin-right: 0.45rem;}
.plants li .middle .left img{width: 100%; height: 100%;}
.plants li .middle .center{width: 11.625rem; height: 3.25rem;}
.plants li .middle .center h4{font-size: 0.75rem; color: #333; width: 11.65rem; font-weight: normal; height: 2.0rem; line-height: 1.0rem;margin-bottom:0.2rem; overflow: hidden;}
.plants li .middle .center p{font-size: 0.6875rem; color: #666666;}
.plants li .middle .unit{width: 3rem; height: 3.25rem; line-height: 3.25rem; font-size: 0.6875rem; color: #666; text-align: right;}
.plants li .border_line{padding-left: 0.625rem;}
.plants li .total{height: 1.875rem; line-height: 1.875rem; border-bottom: 1px solid #e1e1e1; text-align: right; font-size: 0.75rem; color: #b2b2b2; padding-right: 0.6rem;}
.plants li .total span{color:#ff4d45;}
.plants li .btns{height: 2.25rem; line-height: 2.25rem; text-align: right; font-size: 0.75rem; padding-right: 0.625rem;}
.plants li .btns .delte,.plants li .btns .seller{padding: 0.25rem 0.65rem; border: 1px solid #e1e1e1; border-radius: 4px; color: #ccc; margin-right: 0.25rem;}
.plants li .btns .pay,.plants li .btns .contact,.plants li .btns .collect{padding: 0.25rem 0.65rem; border: 1px solid #ff4d45; border-radius: 4px; color: #ff4d45; }
.plants li .btns .collect a{color: #ff4d45;}
.no_order{width: 100%; height: auto; text-align: center;}
.no_order img{margin-top: 2.5rem;}
.no_order p{font-size: 0.875rem; color: #ccc; margin-top: 1.25rem;}
.mark_opa5{position: absolute; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background: url(../../images/Buy/pop_bg.png) repeat; display: none;}
.mark_bind{position: absolute; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background: url(../../images/Buy/pop_bg.png) repeat; display: none;}
.cancelBox ,.service ,.orderBox ,.finishBox {display:none;width: 14rem; height: 7.7rem; border-radius: 5px; background: #fff; position: absolute; top: 20%; left: 50%; margin-left: -7rem; z-index: 20;}
.cancelBox  h4,.orderBox  h4,.finishBox  h4{font-size: 0.9375rem; color: #333; height: 3.2rem; text-align: center; line-height: 4rem;}
.cancelBox  p,.orderBox  p,.finishBox  p{font-size: 0.75rem; color: #333; height: 2rem; line-height: 1rem; text-align: center;}
.cancelBox  ul li,.service  ul li,.orderBox  ul li,.finishBox  ul li{width: 50%; height: 2.5rem; line-height: 2.5rem; font-size: 0.875rem; color: #1f92c8; font-weight: bold; text-align: center; border-top: 1px solid #e1e1e1; float: left; box-sizing:border-box;}
.cancelBox  ul li.cancel,.service  ul li.cancel,.orderBox  ul li.cancel,.finishBox  ul li.cancel{border-right: 1px solid #e1e1e1;}
.service { height: 6.25rem;}
.service p{font-size: 1.125rem;color: #333; height: 3.75rem;line-height: 3.75rem;text-align: center;font-weight: bold;}
/*待发货*/
.plants li .orderCode{padding-right:0.625rem; text-align: right; font-size: 0.75rem; color: #ff4d45; height: 1.875rem; line-height: 1.875rem; padding-left: 0.625rem;}
.c99{color: #999;}
.service .tip_box{height: 6.25rem; }
.service .tip_box p{font-size: 1.125rem; color: #333; height: 3.75rem; line-height: 3.75rem; text-align: center; font-weight: bold;}
/*发表评价页*/
.wrap_comment{ padding-top: 0.625rem; padding-bottom: 2.8125rem; box-sizing: border-box;}
.commment{width: 100%; height: 100%; background-color: #fff; margin-top: 0.625rem-; padding-bottom: 0.625rem; box-sizing: border-box;overflow-y: auto;}
.commment .pic_txt{height: 4rem; padding-left: 0.625rem; padding-top: 0.625rem;}
.commment .border_b{border-bottom: 1px solid #e1e1e1; height: 4rem; box-sizing:border-box;}
.commment .pic_txt .left{width: 3.25rem; height: 3.25rem; margin-right: 0.45rem;}
.commment .pic_txt .left img{width: 100%; height: 100%;}
.commment .pic_txt .center{width: 11.625rem; height: 4rem;}
.commment .pic_txt .center h4{font-size: 0.75rem; color: #333; width: 11.65rem; font-weight: normal; height: 2.4rem; line-height: 1.2rem; overflow: hidden;}
.commment .pic_txt .center p{font-size: 0.6875rem; color: #666666;}
.commment .pic_txt .unit{width: 3rem; height: 4rem; margin-right: 0.625rem; font-size: 0.6875rem; color: #666; text-align: right; padding-top: 1.4rem; box-sizing: border-box; line-height: 1.2rem;}
.commment .pic_txt .unit .prize{font-size: 0.8125rem; color: #ff4d45;}
.commment .grade{padding: 0.8rem 0.625rem; height: 2.5rem-; line-height: 2.5rem-; font-size: 0.75rem; color: #333;}
.commment .grade .iStart{ display:inline-block; width: 0.8rem; height: 0.8rem; margin-left: 0.25rem; background-image: url(../../images/Buy/star1.png); background-repeat: no-repeat; background-size: 100% 100%;}
.commment .grade .iStart.iCur{background-image: url(../../images/Buy/star2.png);}
.commment textarea{width: 18.75rem; height: 3.5rem; display: block; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 4px; resize:none; font-size: 0.625rem; color: #ccc; padding: 0.4rem; box-sizing:border-box; font-family: "微软雅黑"; line-height: 0.9rem;}

.publish{position: fixed; left: 0; bottom: 0; z-index: 5; width: 100%; height: 2.8125rem; border-top: 1px solid #e1e1e1; background-color: #fff;}
.publish .p_btn{width: 4.375rem; height: 1.625rem; line-height: 1.625rem; text-align: center; font-size: 0.8rem; color: #fff; background-color: #ff4d45; margin: 0.6rem auto 0; border-radius: 4px;}

/*我的红包*/
.wrap_mypackets{position:relative;width: 100%; height: 100%; padding-top: 2.5rem; box-sizing: border-box; overflow-y:auto; background: #f7f7f7;}
.wrap_mypackets .items{position:absolute; left:0; top:0;z-index:1;width:100%;background-color: #fff;}
.wrap_mypackets .items li{float: left; width: 50%; height: 2.5rem; line-height: 2.5rem; font-size: 0.875rem; color: #333;}
.wrap_mypackets .items li p{width: 5rem; height: 2.5rem; box-sizing:border-box; margin: 0 auto; text-align: center; color: #333;}
.wrap_mypackets .items li.cur p{border-bottom: 2px solid #ff4d45; color: #ff4d45;}
.my_packets{}
.my_packets .coupon{width: 100%; height: auto;}
.my_packets .coupon .card{width: 18.125rem; height: 8rem; margin: 0.75rem auto 0; position: relative; background-repeat: no-repeat; background-size: 100% 100%;}
.my_packets .coupon .card1{background-image: url(../../images/Buy/card1.png);}
.my_packets .coupon .card2{background-image: url(../../images/Buy/card2.png); }
.my_packets .coupon .card.cUsed{background-image: url(../../images/Buy/card3.png);}
.my_packets .coupon .card.cExpire{}
.my_packets .coupon .card .topPart{height: 5.875rem; padding: 0 1.25rem;}
.my_packets .coupon .card .tip{height: 2.375rem; line-height: 2.3rem; text-align: center; font-size: 0.75rem; color: #fff;}
.my_packets .coupon .card .topPart .left{width: 12.625rem; height: 5.875rem;}
.my_packets .coupon .card .topPart .right{width: 3rem; height: 5.875rem; line-height: 5.875rem;}
.my_packets .coupon .rt_icons { display:inline-block;width: 2.9rem; height: 2.9rem; background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;}
/*红包四种状态 红、绿、已使用、已过期*/
.my_packets .coupon .cUsed ,
.my_packets .coupon .cExpire { opacity:0.8; filter:alpha(opacity=80);}
.my_packets .coupon .card1 .rt_icons { background-image: url(../../images/Buy/packet1.png); }
.my_packets .coupon .card2 .rt_icons { background-image: url(../../images/Buy/packet2.png); }
.my_packets .coupon .cUsed .rt_icons { background-image: url(../../images/Buy/packet3.png); }
.my_packets .coupon .cExpire .rt_icons {  }

.my_packets .coupon .seal{width: 6.875rem; height: 7rem; position: absolute; left: 6rem; top: 0.375rem; background-size: cover; }
.my_packets .coupon .card1 .seal{ display: none;}
.my_packets .coupon .card2 .seal{ display: none;}
.my_packets .coupon .cUsed .seal{ display:block;background-image: url(../../images/Buy/seal1.png);}
.my_packets .coupon .cExpire .seal{ display:block;background-image: url(../../images/Buy/seal2.png);}

.my_packets .coupon .card .value{font-size: 3.125rem; }
.my_packets .coupon .card .value span{font-size: 1rem;}
.my_packets .coupon .card .useTime{font-size: 0.75rem; color: #b2b2b2;}
.my_packets .coupon .card1 .value{color: #ff8a91;}
.my_packets .coupon .card2 .value{color: #6cd5bd;}
/*.my_packets .coupon .card3 .value{color: #c7c7c7;}
.my_packets .coupon .card4 .value{color: #FBC0C4;}*/
.my_packets .coupon .card.cUsed .value{ color: #b2b2b2;}
.no_packets,.no_binding{width: 100%; height: 100%; background: #fff; text-align: center; font-size: 0.875rem; color: #ccc;border-top:0.75rem solid #f1f1f1;box-sizing:border-box; }
.no_packets .items,.no_binding .items{background-color: #fff; border-bottom: 0.625rem solid #f7f7f7;}
.no_packets .items li,.no_binding .items li{float: left; width: 50%; height: 2.5rem; line-height: 2.5rem; font-size: 0.875rem; color: #333;}
.no_packets .items li p,.no_binding .items li p{width: 5rem; height: 2.5rem; box-sizing:border-box; margin: 0 auto; text-align: center; color: #333;}
.no_packets .items li.cur p,.no_binding .items li.cur p{border-bottom: 2px solid #ff4d45; color: #ff4d45;}
.no_packets img{width: 1.5rem; height: 1.6875rem; margin-top: 4.4375rem; margin-bottom: 1rem; }
.no_binding p{font-size: 0.75rem;}
.no_binding .warn{font-size: 0.9375rem; color: #333; height: 1.8rem;}
.no_binding .bdBtn{width: 5.75rem; height: 1.5rem; border: 1px solid #ff4d45; font-size: 0.75rem; color: #ff4d45; line-height: 1.5rem; margin: 0.75rem auto 0; border-radius: 4px;}
/*注册弹窗*/
.registerPop { display:none;width: 17.75rem; height: 15.25rem; background: #fff; border-radius: 5px; position: absolute; left: 50%; margin-left: -8.875rem; top: 20%; z-index: 11;}
.registerPop .member .pen{width: 3.75rem; height: 3.75rem;  margin: -1.85rem auto 0;}
.registerPop .member .pen img{width: 100%; height: 100%;}
.registerPop .member h4{font-size: 0.9375rem; height: 3.3rem; line-height: 3rem; text-align: center; font-weight: normal; color: #333;}
.registerPop .member .info{width: 15.75rem; height: 2.25rem; margin: 0 auto 0.8125rem; position: relative;}
.registerPop .member .info .entry1,.registerPop .member .info .entry2{width: 100%; height: 2.25rem; line-height: 2.25rem; box-sizing:border-box; padding: 0 0.625rem 0 1.875rem; border: 1px solid #e1e1e1; border-radius: 4px; font-size: 0.9375rem; color: #b2b2b2; font-family: "微软雅黑";}
.registerPop .member .info .entry2{width: 9.375rem;}
.registerPop .member .info .code,
.registerPop .member .time_s60{width: 5.75rem; height: 2.25rem; line-height: 2.25rem; font-size: 0.9375rem; color: #62b30c; box-sizing:border-box; border: 1px solid #62b30c; border-radius: 4px; text-align: center;}
.registerPop .member .regBtn{width: 15.75rem; margin: 0 auto; height: 2.25rem; line-height: 2.25rem; border-radius: 4px; text-align: center; background-color: #62b30c; color: #fff;}
.registerPop .member .info .icon1,.registerPop .member .info .icon2{position: absolute; width: 0.75rem; height: 0.9375rem; left: 0.75rem; top: 0.625rem; background: url(../../images/Buy/entry1.png) no-repeat; background-size: cover;}
.registerPop .member .info .icon2{background: url(../../images/Buy/entry2.png); background-size: cover;}

/*上传图片*/
.upload{padding: 0.625rem; overflow: hidden;}
.upload_pictures{ display: inline-block; vertical-align: top; width: 3.4375rem; height: 3.4375rem; margin:0.3rem 0.3rem 0.3rem 0; position: relative; background-image:url(../../images/Buy/camera.jpg); background-repeat: no-repeat; background-size: 100% 100%;}
.upload_pictures .fileBtn{position: absolute; left: 0; top: 0; width: 3.4375rem;min-width: 100%; max-width: 100%; height: 3.4375rem; z-index: 6; font-size: 0.625rem; opacity: 0;}
.upload_pictures input[type=file]{ z-index:8;}
.uploadphones_list{display:inline-block; vertical-align:top; }
.uploadphones_list li,
.text_upload{ display:inline-block; vertical-align:top; width: 3.4375rem; height: 3.4375rem; margin:0.3rem 0.3rem 0.3rem 0; position: relative; font-size: 0.625rem; color: #333; line-height: 3.4375rem;}
.uploadphones_list li .pic_phone{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.uploadphones_list li .pic_close{position: absolute;left:2.25rem; top:0.25rem; z-index: 5;width: 0.9375rem; height: 0.9375rem; }


 /*修改样式如下：*/
.registerPop .member .time_s60{ display: none;}
.register_ul{}
#has_evaluate li .middle .unit{ height: 1.84rem; line-height: 1.84rem;}
#has_evaluate li .middle .text_comment{ line-height: 1.4rem; font-size: 0.75rem; border: 1px solid #ff4d45;border-radius: 4px;color: #ff4d45; padding:0 0.65rem;}
#registerPop .tip_phonenumber{ display: none; position: absolute;right:0;top: -1rem; z-index:1;font-size: 0.45rem; color: #f00;}
#registerPop .tip_securitycode{ display: none; position: absolute;right:6.5rem;top: -1rem; z-index:1;font-size: 0.45rem; color: #f00;}
/*微信支付和暂不支付样式*/
.referPop{position: absolute; left: 0; top: 0; z-index: 3;width:100%;height:100%; background: url(../../images/Buy/pop_bg.png) repeat; display: none;}
.referPop .payment,.packetContent{position: fixed; left: 0; bottom: 0; width: 100%; height: auto; z-index: 10; }
.referPop .payment li{width: 17.1875rem; height: 2.5625rem; line-height: 2.5625rem; margin: 0 auto 0.625rem; border-radius: 5px;background-color: rgba(255,255,255,0.9); text-align: center; font-size: 1rem; }
