/*去除默认样式*/
a {
  text-decoration: none;
}
input,
button,
textarea,
select {
  font-family: "微软雅黑";
}
/*定义的变量*/
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box-sizing {
  box-sizing: border-box;
}
/*横屏*/
@media all and (orientation: landscape) {
  body {
    height: 100%;
    overflow: hidden;
  }
}
/*竖屏*/
@media all and (orientation: portrait) {
  body {
    height: 100%;
    overflow: hidden;
  }
}
html {
  height: 100%;
}
body {
  position: relative;
  min-width: inherit;
  max-width: 640px;
  margin: auto;
  background: #fafafa;
  font-family: "微软雅黑";
}
.pricelist_wapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.pricelist_head {
  width: 100%;
  height: 8.65rem;
}
.pricelist_head .banner {
  height: 4.6rem;
}
.pricelist_head .banner img {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.search_keyword {
  height: 2.25rem;
  padding: 0.4rem 0.5rem;
  box-sizing: border-box;
}
.search_keyword .search_block {
  position: relative;
  height: 1.45rem;
  padding: 0.2rem 0.2rem 0.2rem 1.4rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
.search_keyword .search_block .icon_sea {
  position: absolute;
  z-index: 0;
  left: 0.375rem;
  top: 0.35rem;
  width: 0.725rem;
  height: 0.725rem;
  background: url(../../images/MarketPrice/icon_search.png) no-repeat;
  background-size: 100% 100%;
}
.search_keyword .search_block .ipt_txt {
  width: 100%;
  height: 100%;
  line-height: 100%;
  border: 0;
  box-sizing: border-box;
  font-size: 0.675rem;
  color: #ccc;
}
.search_keyword .search_block .i_clear {
  position: absolute;
  z-index: 0;
  right: 0.25rem;
  top: 0.5rem;
  display: none;
  width: 0.375rem;
  height: 0.375rem;
}
.filter_conditions {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff;
  overflow: hidden;
}
.filter_conditions li {
  position: relative;
  float: left;
  width: 25%;
  height: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  font-size: 0.55rem;
  color: #666;
  cursor: pointer;
}
.filter_conditions .i_site:after,
.filter_conditions .i_category:after,
.filter_conditions .i_time:after {
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  content: '';
  border-style: solid solid solid solid;
  border-width: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-color: #ccc transparent transparent transparent;
}
/*主体*/
.pricelist_body {
  margin-top: -2px;
}
.crop_list {
  margin-top: -1px;
  background: #fff;
}
.crop_list dl {
  padding: 0.75rem 0.625rem;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.crop_list dt {
  float: left;
  width: 3.05rem;
  height: 3.05rem;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
}
.crop_list dt img {
  width: 100%;
  height: 100%;
}
.crop_list dd {
  position: relative;
  padding-left: 3.75rem;
  height: 3.05rem;
}
.crop_list .crop_name {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.crop_list .crop_name a {
  color: #1a1a1a;
}
.crop_list .crop_price {
  height: 0.65rem;
  line-height: 0.65rem;
  margin: 0.45rem 0;
}
.crop_list .crop_price .c_txt {
  width: 2.8rem;
  font-size: 0.55rem;
  color: #999;
}
.crop_list .crop_price .c_weight {
  font-size: 0.55rem;
  color: #f96b15;
}
.crop_list .crop_YLOVEY {
  height: 0.65rem;
  line-height: 0.65rem;
}
.crop_list .crop_YLOVEY .c_txt {
  width: 2.8rem;
  font-size: 0.55rem;
  color: #999;
}
.crop_list .crop_YLOVEY .c_weight {
  font-size: 0.55rem;
  color: #90b901;
}
.crop_list .attention {
  position: absolute;
  right: 0.125rem;
  bottom: 0;
  z-index: 0;
  width: 0.8rem;
  height: 0.725rem;
  background-image: url(../../images/MarketPrice/icon_attention1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.crop_list .attention.aCur {
  background-image: url(../../images/MarketPrice/icon_attention2.png);
}
.tip_attention {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 5rem;
  height: 1.85rem;
  line-height: 1.85rem;
  border-radius: 0.2rem;
  margin: -0.925rem 0 0 -2.5rem;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
/*位置选择页面样式*/
.site_wapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
}
.site_wapper .special_txt {
  font-size: 0.7rem;
  margin-bottom: -1px;
  padding: 0.65rem 1rem;
  border-bottom: 1px solid #ededed;
  color: #53b9f3;
}
.site_list .sitem {
  font-size: 0.7rem;
  padding: 0.65rem 1rem;
  border-top: 1px solid #ededed;
  color: #333;
}
.site_list .sitem:hover,
.site_list .sitem.sCur {
  background: #f1f1f1;
}
/*品类选择页面样式*/
.category_wapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  color: #333;
}
.category_wapper .fixed_sure {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 2.5rem;
  padding: 0.35rem 0.5rem;
  border-top: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px #f2f2f2;
}
.category_wapper .btn_success {
  display: block;
  height: 1.8rem;
  line-height: 1.8rem;
  background: #93c31c;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}
.category_content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /*一级菜单*/
  /*二级菜单*/
}
.category_content .category_search {
  padding: 0.5rem;
  border-bottom: 1px solid #e8e8e8;
}
.category_content .category_search .public_search {
  position: relative;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.5rem 0 1.5rem;
  border-radius: 0.2rem;
  background: #f7f7f7;
}
.category_content .category_search .public_search .icon_octicon {
  position: absolute;
  left: 0.45rem;
  top: 0.375rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: url(../../images/MarketPrice/icon_search.png);
  background-size: 100% 100%;
}
.category_content .category_search .public_search .form_control {
  width: 100%;
  height: 100%;
  border: 0;
  background: rgba(255, 255, 255, 0);
  font-size: 0.65rem;
  font-family: "微软雅黑";
  color: #ccc;
}
.category_content .level_once {
  position: relative;
  z-index: 1;
  float: left;
  width: 5rem;
  min-height: 100%;
  box-sizing: border-box;
}
.category_content .level_once .o_item {
  position: relative;
  padding: 0.5rem 0 0.5rem 0.75rem;
  font-size: 0.65rem;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
  background: url(../../images/MarketPrice/icon_line.jpg) repeat-x 0 bottom;
}
.category_content .level_once .o_item i {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
  margin: 0.075rem 0.125rem 0 0;
}
.category_content .level_once .o_item .i_shucai {
  background-image: url(../../images/MarketPrice/icon_shucai0.png);
}
.category_content .level_once .o_item .i_shuiguo {
  background-image: url(../../images/MarketPrice/icon_shuiguo0.png);
}
.category_content .level_once .o_item .i_liangshi {
  background-image: url(../../images/MarketPrice/icon_liangshi0.png);
}
.category_content .level_once .o_item .i_jingji {
  background-image: url(../../images/MarketPrice/icon_jingji0.png);
}
.category_content .level_once .o_item .i_chaye {
  background-image: url(../../images/MarketPrice/icon_chaye0.png);
}
.category_content .level_once .o_item .i_lvhua {
  background-image: url(../../images/MarketPrice/icon_lvhua0.png);
}
.category_content .level_once .o_item .i_qita {
  background-image: url(../../images/MarketPrice/icon_qita0.png);
}
.category_content .level_once .o_item.oCur {
  border-right: 1px solid #fff;
  color: #8fc320;
}
.category_content .level_once .o_item.oCur .i_shucai {
  background-image: url(../../images/MarketPrice/icon_shucai1.png);
}
.category_content .level_once .o_item.oCur .i_shuiguo {
  background-image: url(../../images/MarketPrice/icon_shuiguo1.png);
}
.category_content .level_once .o_item.oCur .i_liangshi {
  background-image: url(../../images/MarketPrice/icon_liangshi1.png);
}
.category_content .level_once .o_item.oCur .i_jingji {
  background-image: url(../../images/MarketPrice/icon_jingji1.png);
}
.category_content .level_once .o_item.oCur .i_chaye {
  background-image: url(../../images/MarketPrice/icon_chaye1.png);
}
.category_content .level_once .o_item.oCur .i_lvhua {
  background-image: url(../../images/MarketPrice/icon_lvhua1.png);
}
.category_content .level_once .o_item.oCur .i_qita {
  background-image: url(../../images/MarketPrice/icon_qita1.png);
}
.category_content .level_once .o_item.oCur:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  border-left: 0.1rem solid #8fc320;
  content: '';
  overflow: hidden;
}
.category_content .level_second:before {
  position: absolute;
  left: 5rem;
  top: 0;
  z-index: 0;
  width: 5px;
  border-left: 1px solid #e8e8e8;
  height: 100%;
  margin-left: -1px;
  content: '';
  overflow: hidden;
}
.category_content .level_second {
  position: relative;
  height: 100%;
  min-height: 100%;
  padding-left: 5.65rem;
  display: none;
  box-sizing: border-box;
}
.category_content .level_second .second_title {
  padding: 0.5rem 0;
  font-size: 0.65rem;
}
.category_content .level_second .s_item {
  background: url(../../images/MarketPrice/icon_line.jpg) repeat-x 0 0;
}
.category_content .level_second .lei_name {
  padding: 0.5rem 0;
  font-size: 0.65rem;
  color: #999;
}
.category_content .level_second .lei_crop {
  position: relative;
  padding: 0.5rem 0.75rem;
  font-size: 0.65rem;
  word-break: break-all;
}
.category_content .level_second .lei_crop.cCur:after {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  content: '';
  width: 0.65rem;
  height: 0.45rem;
  margin-top: -0.225rem;
  background: url(../../images/MarketPrice/icon_gou.png) 0 center;
  background-size: cover;
  overflow: hidden;
}
/*日期选择页面样式*/
.date .datetimepicker-inline {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0;
}
.date .table-condensed {
  position: relative;
  width: 100%;
}
.date .table-condensed .prev {
  position: absolute;
  left: 25%;
}
.date .table-condensed .next {
  position: absolute;
  right: 25%;
}
.date .table-condensed .icon-arrow-left {
  background-image: url(../../images/MarketPrice/icon_prev.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.date .table-condensed .icon-arrow-right {
  background-image: url(../../images/MarketPrice/icon_next.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover {
  background: none;
}
