@charset "utf-8";
/* CSS Document */

*{ 
	box-sizing:border-box;
	} 
a{
	text-decoration:none;
	}
body{
	min-width:300px;
	max-width:640px;
	margin:0 auto;
	color:#525252;
	}
.pos_bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
	}
.pos_bg img{
	width:100%;
	height:100%;
	}
.half12, .half13, .half14,
.one12, .one13, .one14,
.two12, .two13, .two14{
	display:inline-block;
	}
	
	
/* 320屏幕样式 */	
body{
	font-size:12px;
	}
.font13{
	font-size:13px;
	}
.font14{
	font-size:14px;
	}
.font16{
	font-size:16px;
	}
.font18{
	font-size:18px;
	}
.font20{
	font-size:20px;
	}
.half12{
	width:6px;
	}
.one12{
	width: 12px;
	}
.two12{
	width: 24px;
	}
.one13{
	width: 13px;
	}
.two13{
	width: 26px;
	}
.half14{
	width:7px;
	}
.one14{
	width: 14px;
	}
.two14{
	width: 28px;
	}
.wechat_wapper{
	width:320px;
	margin:0 auto;
	}
.con_box{
	padding:0 8px;
	}	
/* 头部和畜牧基本信息 */
.resume_header{
	padding:15px 15px;
	}
.resume_header .logo_link{
	display:block;
	cursor:pointer;
	}
.resume_header .logo_link{
	width:100px;
	height:39px;
	}
.resume_header .logo_link img{
	width:100%;
	height:100%;
	}
.resume_header .btn_share{
	cursor:pointer;
	}
.resume_header .btn_share{
	width:24px;
	height:20px;
	}
/* 基础信息 */
.base_info_wap{
	position:relative;
	}
.growing_season{
	position:absolute;
	top:0;
	text-align:center;
	}
.growing_season{
	right:15px;
	width:62px;
	height:48px;
	}
.growing_season .text_name{
	color:#fff;
	}
.growing_season .text_name{
	padding-top:5px;
	line-height:20px;
	}
.growing_season .text_day{
	line-height:22px;
	}
.growing_season .text_day font{
	color:#84b53c;
	}
.base_info_wap .resume_pics{
	position:relative;
	margin:0 auto;
	border-radius:50%;
	background-color:#f9f9f9;
	}
.base_info_wap .resume_pics{
	width:160px;
	height:160px;
	border:5px solid #e5e5e5;
	}
.base_info_wap .resume_pics .icon_qual{
	position:absolute;
	left:-18px;
	top:26px;
	}
.base_info_wap .icon_qual{
	width:36px;
	height:44px;
	}
.base_info_wap .icon_qual img{
	width:100%;
	height:100%;
	}
.base_info_wap .img_pics{
	width:100%;
	height:100%;
	border-radius:50%;
	overflow:hidden;
	}
.base_info_wap .text_rebrand{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	overflow:hidden;
	}
.base_info_wap .text_rebrand{
	margin-top:5px;
	height:26px;
	line-height:26px;
	}
.base_info_wap .text_number{
	text-align:center;
	color:#5bc8f5;
	}
.base_info_wap .bg_nczda{
	width:100%;
	min-height:10px;
	}
.base_info_list .dl_item{
	border-bottom:1px solid #dbdbdb;
	}
.base_info_list .dl_item{
	padding:6px 0;
	}
.base_info_list .dl_dt{
	float:left;
	text-align:center;
	}
.base_info_list .dl_dt{
	width:36px;
	height:20px;
	line-height:20px;
	}
.base_info_list .dl_dt img{
	vertical-align:top;
	}
.base_info_list .dl_dt img{
	width:14px;
	height:14px;
	margin-top:3px;
	}
.base_info_list .dl_dd{
	margin-left:36px;
	line-height:20px;
	}
/* 会员加入、分享红包、我要购买、四季田景 */
.purchase_again{ 
	display:block; 
	width:100%; 
	text-align:center;
	}
.purchase_again{ 
	margin:15px 0 10px 0; 
	}
.purchase_again .items{
	float:left;
	width:25%;
	background:url(../../images/resume/peach_bg01.jpg) no-repeat right 6px;
	}
.purchase_again .itemsNo{ 
	background:none;
	}
.purchase_again .items .icoA , 
.purchase_again .items .icoB{ 
	width:34px; 
	height:34px;
	}
.purchase_again .items .icoB{ 
	display:none;
	}
.purchase_again .items .txt{ 
	margin-top:5px; 
	color:#afb3b8;
	}
.purchase_again .items a{
	 display:block; 
	 text-decoration:none;
	 }
/* 农场主档案 */
.record_hd .record_title{
	position:relative;
	float:left;
	font-weight:bold;
	color:#8f2f21;
	overflow:hidden;
	}
.record_hd .record_title{
	width:106px;
	height:50px;
	line-height:20px;
	padding:8px 0 0 8px;
	}
.record_hd .record_link{
	float:right;
	color:#6bb0df;
	}
.record_hd .record_link{
	height:20px;
	line-height:20px;
	margin-top:8px;

	}
.record_hd .record_link img{
	margin-right:5px;
	vertical-align:top;
	}
.record_hd .record_link img{
	width:20px;
	height:20px;
	}
.archive_pic{
	width:100%;
	}
.archive_info{
	margin:15px 0 5px 0;
	padding-bottom:10px;
	border-bottom:1px dashed #ededed;
	}
.archive_info .ar_dt{
	float:left;
	border:1px solid #dbdbdb;
	}
.archive_info .ar_dt{
	width:90px;
	height:90px;
	}
.archive_info .ar_dt img{
	width:100%;
	height:100%;
	}
.archive_info .ar_dd{
	margin-left:100px;
	}
.archive_info .ar_dd .text_con{
	overflow:hidden;
	}
.archive_info .ar_dd .text_con{
	height:90px;
	line-height:22px;
	}
.farm_contact td{
	padding:2px 0;
	line-height:22px;
	}
.farm_contact .text_icon{
	width:92px;
	}
.farm_contact .text_icon img{
	margin-right:5px;
	vertical-align:top;
	}
.farm_contact .text_icon img{
	width:20px;
	height:16px;
	margin-top:2px;
	}
.farm_envior{
	position:relative;
	overflow:hidden;
	}
.farm_envior{
	margin:10px 0 10px -5px;
	height:66px;
	}
.farm_envior .f_pic{
	float:left;
	width:33.33%;
	cursor:pointer;
	}
.farm_envior .f_pic{
	height:66px;
	padding-left:5px;
	}
.farm_envior .f_pic > img{
	width:100%;
	height:100%;
	background-color:#f1f1f1;
	}
.farm_envior .f_pic_total{
	position:absolute;
	right:1px;
	top:5%;
	background:url(../../images/commons/opacity_b50.png);
	color:#fff;
	}
.farm_envior .f_pic_total{
	height:20px;
	line-height:20px;
	padding:0 5px 0 10px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	}
/* 养殖记录 */
.breeding_note{
	position:relative;
	}
.breeding_note{
	margin:10px 0;
	}
.breeding_note:before{
	position:absolute;
	top:0;
	z-index:-1;
	width:10px;
	height:72%;
	border-left:1px solid #dbdbdb;
	content:"";
	}
.breeding_note:before{
	left:61px;
	}
.breeding_note .bb_top{
	position:absolute;
	top:0;
	background-color:#fff;
	}
.breeding_note .bb_top{
	left:50px;
	width:20px;
	height:13px;
	}
.breeding_note .note_item{
	padding-bottom:15px;
	}
.breeding_note .note_one .text_day{
	color:#dfb169;
	}
.breeding_note .note_two .text_day{
	color:#8abb1a;
	}
.breeding_note .note_one .text_month{
	background-color:#dfb169;
	}
.breeding_note .note_two .text_month{
	background-color:#8abb1a;
	}
.breeding_note .note_two .graphics_hd p{
	color:#dfb169;
	}
.breeding_note .note_dt{
	width:78px;
	}
.breeding_note .note_dd{
	position:relative;
	}
.breeding_note .note_dd{
	margin-left:78px;
	}
.breeding_note .note_dd:before ,
.breeding_note .note_dd:after{
	position:absolute;
	top:50%;
	z-index:1;
	content:"";
	border-left:0;
	}
.breeding_note .note_dd:before{
	left:-4px;
	margin-top:-4px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #e7e7e7;
	}
.breeding_note .note_dd:after{
	left:-3px;
	margin-top:-3px;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-right:4px solid #f4f8ff;
	}
.breeding_note .br_date{
	float:left;
	border:1px solid #dbdbdb;
	border-radius:4px;
	text-align:center;
	background-color:#fff;
	}
.breeding_note .br_date{
	width:50px;
	}
.breeding_note .text_day{
	height:22px;
	line-height:22px;
	}
.breeding_note .text_month{
	color:#fff;
	}
.breeding_note .text_month{
	height:16px;
	line-height:16px;
	}
.breeding_note .br_icon{
	float:left;
	}
.breeding_note .br_icon{
	width:14px;
	height:14px;
	margin:13px 0 0 5px;
	}
.breeding_note .br_graphics{
	min-height:40px;
	border:1px solid #e7e7e7;
	background-color:#f4f9ff;
	}
.breeding_note .br_graphics{
	padding:8px 8px;
	}
.breeding_note .graphics_hd{
	overflow:hidden;
	}
.breeding_note .graphics_hd{
	height:22px;
	line-height:22px;
	}
.breeding_note .graphics_hd p{
	float:left;
	width:50%;
	height:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.breeding_note .graphics_hd strong{
	float:right;
	width:50%;
	height:100%;
	text-align:right;
	color:#969696;
	font-weight:normal;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.breeding_note .graphics_bd{
	overflow:hidden;
	}
.breeding_note .graphics_bd{
	margin-left:-5px;
	height:64px;
	}
.breeding_note .graphics_bd li{
	float:left;
	}
.breeding_note .graphics_bd li{
	width:64px;
	height:64px;
	margin-left:5px;
	}
.breeding_note .graphics_bd li img{
	width:100%;
	height:100%;
	}
/* 检疫 */
.report_table{
	color:#959595;
	}
.report_table td{
	padding:2px 0;
	}
.report_table .text_rep1{
	text-align:right;
	}
.report_table .text_rep1{
	width:84px;
	}
.report_table .quality_certificate{
	display:inline-block;
	border:1px solid #e7e7e7;
	vertical-align:top;
	}
.report_table .quality_certificate{
	width:110px;
	height:164px;
	margin:5px 0;
	}
.honor_certificate{
	display:block;
	border:1px solid #e7e7e7;
	}
.honor_certificate{
	width:240px;
	height:176px;
	margin:5px auto;
	}
/* 食用方法 */
.cookbook_block{
	margin:10px 0;
	}
/* 评价 */
.rating_total_table td{
	padding:2px 0;
	}
.rating_total_table .text_percent{
	font-family:'Arial';
	}
.rating_total_table .text_percent{
	font-size:24px;
	}
.rating_total_table .total_td1{
	text-align:center;
	}
.rating_total_table .total_td1{
	width:70px;
	}
.rating_total_table .total_td2{
	padding-right:10px;
	text-align:right;
	}
.rating_total_table .total_td2{
	width:85px;
	}
.rating_total_table .color_gr{
	color:#9c9a9b;
	}
.rating_total_table .color_ye{
	color:#db9100;
	}
.ra_progress{
	width:100%;
	background:#f1f1f1;
	}
.ra_progress{
	height:10px;
	}
.ra_progress .ra_bar{
	display:inline-block;
	width:5px;
	height:100%;
	background-color:#db9100;
	vertical-align:top;
	}
.score_list{
	margin:10px 0;
	}
.score_list li{
	border-top:1px solid #dbdbdb;
	}
.score_list li{
	padding:5px 0;
	}
.score_item{
	position:relative;
	overflow:hidden;
	}
.score_item{
	margin:5px 0;
	}
.score_item .dl_name{
	float:left;
	}
.score_item .dl_name{
	width:36px;
	line-height:20px;
	}
.score_item .dl_con{
	margin-left:36px;
	line-height:20px;
	}
.score_item .dl_con .p_text{
	color:#000;
	}
.score_item .dl_date{
	position:absolute;
	right:0;
	top:0;
	color:#9c9a9b;
	}
.score_item .dl_date{
	line-height:20px;
	}
.score_item .dl_date img{
	vertical-align:top;
	}
.score_item .dl_date img{
	width:14px;
	height:14px;
	margin:3px 5px 0 0;
	}
.star_score{
	overflow:hidden;
	}
.star_score{
	height:14px;
	margin-top:3px;
	}
.star_score img{
	float:left;
	}
.star_score img{
	width:14px;
	height:14px;
	margin-right:3px;
	}
.please_score .text_name{
	float:left;
	font-weight:bold;
	color:#679424;
	}
.please_score .text_name{
	width:36px;
	height:20px;
	line-height:20px;
	}
.please_score .area_block{
	width:100%;
	border:1px solid #cfcfcf;
	border-radius:4px;
	resize:none;
	color:#aaa;
	}
.please_score .area_block{
	height:72px;
	padding:5px;
	}
.btn_primary{
	border:1px solid #2a97ca;
	border-radius:4px;
	background-color:#66b1e6;
	color:#fff;
	}
.btn_primary{
	height:24px;
	line-height:22px;
	margin:5px 0;
	padding:0 8px;
	}
/* 底部 */
.resume_footer{
	margin-top:10px;
	padding:15px 0;
	background-color:#f4f4f4;
	text-align:center;
	}
.resume_footer .comp_logo{
	width:200px;
	}
/* 分享模态框【居底部模态框】 */
.modal_b_block{
	position:fixed;
	left:50%;
	width:320px;
	margin-left:-160px;
	background:url(../../images/commons/opacity_b80.png);
	}
.modal_share{
	bottom:0;
	padding:10px;
	}
.modal_share .share_title{
	height:50px;
	line-height:50px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	}
.modal_share .click_hidebtn{
	width:100%;
	height:38px;
	line-height:38px;
	margin-top:10px;
	border:0;
	border-radius:6px;
	background-color:#838383;
	color:#fff;
	text-align:center;
	cursor:pointer;
	}
.share_list{
	margin:0 -10px 0 -10px;
	}
.share_list > li{
	float:left;
	width:60px;
	margin:0 10px;
	text-align:center;
	}
.share_list > li img{
	width:60px;
	height:60px;
	}
.share_list .a_link{
	display:block;
	color:#fff;
	}
.share_list .p_text{
	height:20px;
	line-height:20px;
	}
/* 加入会员、分享红包、我要购买、四季田景【居中模态框】 */
.modal_block_waper{
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	width:100%;
	height:100%;
	background:url(../../images/commons/opacity_b50.png);
	}
.modal_block{
	position:fixed;
	left:50%;
	top:50%;
	z-index:101;
	}
.modal_member{ 
	width:290px; 
	height:220px; 
	margin-left:-145px; 
	margin-top:-110px; 
	background:#fff; 
	border-radius:5px;
	}
.modal_member .modal_body{ 
	position:relative; 
	width:100%; 
	height:100%; 
	padding:10px 15px; 
	box-sizing:border-box;
	}
.modal_member .redEnvelope_logo{ 
	position:absolute; 
	left:50%; 
	top:-30px; 
	margin-left:-115px; 
	width:230px; 
	height:55px;
	}
.modal_member .close_btn{ 
	position:absolute; 
	right:-14px; 
	top:-14px; 
	width:28px; 
	height:28px; 
	cursor:pointer;
	}
.modal_member .close_btn img{ 
	width:100%; 
	height:100%;
	}
.modal_member .p_tip{ 
	line-height:22px; 
	margin:30px 0 20px 0; 
	font-size:16px; 
	text-indent:32px; 
	font-weight:bold; 
	color:#959595;
	}
.modal_member .input_txt{ 
	width:100%; 
	height:40px; 
	margin-bottom:10px;
	padding:0 20px; 
	border:1px solid #efefef; 
	border-radius:5px; 
	box-shadow:inset 0 2px 2px #e2e2e2; 
	box-sizing:border-box; 
	background-color:#f7f7f7; 
	font-size:16px; 
	color:#aaa;
	}
.modal_member .input_btn{ 
	width:100%; 
	height:40px; 
	padding:0 20px; 
	border:none; 
	border-radius:5px; 
	box-shadow:inset 0 -2px 2px #3ba33b; 
	box-sizing:border-box; 
	background-color:#5cb85c; 
	font-size:18px; 
	color:#fff; 
	cursor:pointer;
	}
.modal_member .input_btn:hover,
.modal_member .input_btn:focus{ 
	background-color:#4ea24e;
	}

/* 分享提示样式 */
.modal_sharepack{ 
	position:fixed; 
	right:20px; 
	top:10px; 
	width:206px; 
	padding:62px 0 10px 0; 
	box-sizing:border-box; 
	background:url(../../images/resume/RedEnvelope_share1.png) no-repeat;
	}
.modal_sharepack .know_btn{ 
	margin-left:36px; 
	display:inline-block; 
	height:34px; 
	line-height:20px; 
	padding:6px 19px; 
	border:1px solid #7dd47d;
	border-radius:4px; 
	box-sizing:border-box; 
	background-color:#5db75d;
	color:#fff;
	}
.modal_sharepack .know_btn:hover{ 
	background-color:#339c33;
	}

/* 农场环境 */
.swiper-container{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	}
.swiper-wrapper{
	height:100%;
	}
.swiper-wrapper .swiper-slide{
	position:relative;
	}
.swiper-wrapper .swiper-slide .slide_img{
	width:100%;
	height:80%;
	text-align:center;
	}
.swiper-wrapper .swiper-slide .en_pic{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	}
.swiper-wrapper .swiper-slide .i_space{
	display:inline-block;
	vertical-align:middle;
	height:100%;
	content:"";
	}
.swiper-container .pos_pagination{
	position:absolute;
	left:0;
	bottom:0;
	z-index:101;
	width:100%;
	min-height:50px;
	padding:10px;
	box-sizing:border-box;
	text-align:left;
	color:#fff;
	}
.swiper-container .pos_pagination .opacity_c3{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	background-color:#2a2a2a;
	opacity:60%;
	filter:alpha(opacity=60);
	}
.swiper-container .pos_pagination .encior_title{
	display:block;
	max-width:60%;
	height:30px;
	line-height:30px;
	font-style:normal;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.swiper-container .pos_pagination .text_introduce{
	max-height:54px;
	line-height:18px;
	margin-top:5px;
	overflow:hidden;
	}
.swiper-container .pos_pagination .text_num{
	position:absolute;
	right:10px;
	top:10px;
	height:30px;
	line-height:30px;
	}
